.hero-slider {
  display: flex;
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
}

.left-column {
  width: 25%; /* Adjust as needed */
  height: 100%;
  display: flex;
  flex-direction: column;
}

.slide-container {
  position: relative;
  height: 100%; /* Full height */
}

.slide {
  background-color: #ff6347; /* Background color of the slide */
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);
}

.center-column {
  width: 65%; /* Adjust as needed */
  height: 100%;
  padding: 20px;
  box-sizing: border-box; /* Include padding in the width/height */
}

.right-column {
  width: 70px; /* Adjust as needed */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.image-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block; /* Ensure image does not overflow */
}

.custom-navigation-bar {
  width: 100%;
  display: flex;
  justify-content: center; /* Center navigation bar horizontally */
}
