.skills-container {
  background: rgba(0, 0, 0, 0.8); 
  width: 100%;
  padding: 20px;
  box-sizing: border-box;  
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-name {
  font-size: 18px;
}

.actions {
  display: flex;
}

.follow-btn, .more-videos-btn {
  background-color: #333;
  border: none;
  color: #fff;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}

.skills-content {
  margin-top: 30px;
}

.skills-title {
  text-align: center;
  font-size: 32px;
  font-family: 'Poppins-Bold';
  color: #fff;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1000px;
  margin: auto;
}

.skill-item {
  background-color: #111;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.skill-level {
  font-size: 24px;
  color: #ff6347;
}

.skill-name {
  margin-top: 10px;
  font-size: 16px;
}

.skills-experience{

}

.itemOne{
  display: flex;
  max-width: 1000px; 
  margin: auto; 
}

.itemContent{
  width: 40%;
  background-color: #111;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 25px
}
#subHead{
  font-size: 24px;
  color: #ff6347;
  margin-bottom: 10px;
  font-family: 'Poppins-Bold';
}
#textN{
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
  font-family: 'Poppins-regular';
}
.left{

}
.left1{
  width: 10%;
  border-left: #ff6347 solid 2px;
  margin-bottom: 25px

  
}
.left2{
  width: 10%;
  border-left: #fff solid 2px;
  /* margin-left: 58px; */
  margin-left: 5.8%;
  margin-bottom: 25px

}
