.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 50%;
}

.grid-item {
    width: 35%;
    height: 140px;
    border-radius: 10px;
    border: 2px solid #007bff; /* Replace with your color */
    margin-bottom: 20px;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-text, .item-num {
    color: #ffffff;
}

.item-text {
    font-size: 18px;
    font-weight: bold;
}

.item-num {
    font-size: 30px;
    font-weight: bold;
}
