.grid-container {
    display: grid;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  
  .grid-item {
    background: transparent;
    border: 1px solid #ff6347;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    width: 200px;
    height: 100px;
  }
  
  .itemnum {
    font-size: 24px;
    font-weight: bold;
    color: #ff6347;
    font-family: 'Poppins-Bold';
  }
  
  .itemtext {
    font-size: 16px;
    color: #fff;
    font-family: 'Poppins-Bold';
  }
  