.Contdess {
    position: absolute;
    top: 15%;
    right: 20px;
    width: 70px;
    height: 70%;
    background-color: #007bff; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
    border-radius: 10px;
  }
  
  .iconContainer {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 12px 0;
    cursor: pointer;
  }
  
  .iconContainer:hover {
    background-color: rgba(0, 0, 0, 0.1); 
  }
  
  .lightMode {
    background-color: #ff6347; 
  }
  
  .nightMode {
    background-color: #35424E; 
  }
  /* 343a40 */